<div class="page-header">
<h1>Gallery</h1>
</div>


<body style= "padding-top: 50px">

<div class="media">
  <% @photos.each do |photo| %>
    <h4 class="media-heading"><%= photo.title %></h4>
    <div class="media-left">
      <!-- Renders image -->
      <%= link_to image_tag(photo.image.url, class: 'media-object'), photo.image.url, target: '_blank' %>
      <!-- Renders Annotation-->
      <!-- rendering stuff here photo.annotation.url, class: 'text-field?'-->
      <!-- Button to delete image -->
      <p style= "padding-top: 2px"></p>
      <%= link_to 'Remove', photo_path(photo), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>

      <!-- So this section is creating a new empty annotation for each photo and if the user decides to -->
      <% new_ann = Annotation.create(params[:photo_id]) %>
      <%= form_for new_ann do |f| %>
        <%= f.text_field :label %>
        <%= f.submit "Tag this photo!" %>

      <% end %>
      <% photo.annotations << new_ann # this line might be unnecessary %>

      <!--%= link_to 'Add Tag', {:action=>"new", :controller=>"annotations"}, {:class => 'btn btn-info', :role => 'button'}  %-->
      <p style= "padding-top: 5px"></p>
    </div>

    <div class="media-body">

    </div>
  <% end %>
</div>
</body>
