<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @human_capital.total %>
</p>

<p>
  <strong>Captcha score:</strong>
  <%= @human_capital.captcha_score %>
</p>

<p>
  <strong>Number of images uploaded:</strong>
  <%= @human_capital.number_of_images_uploaded %>
</p>

<p>
  <strong>Number of images downloaded:</strong>
  <%= @human_capital.number_of_images_downloaded %>
</p>

<p>
  <strong>Number of labels made:</strong>
  <%= @human_capital.number_of_labels_made %>
</p>

<p>
  <strong>Membership length:</strong>
  <%= @human_capital.membership_length %>
</p>

<%= link_to 'Edit', edit_human_capital_path(@human_capital) %> |
<%= link_to 'Back', human_capitals_path %>
